/* Start */


.inicio {
    width: 100%;
    height: 95vh;
    background-color: red;
    background: #222222;
    font-family: var(--minhafont);
}

.textos h2 {
    color: white;
    font-size: 60px;
}

.textos h1 {
    font-size: 140px;
    color: var(--cor-principal);
}

.imgprin {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.textos{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}



/* Ir Dashboard */


.Dash{
    width: 100%;
    height: 100vh;
    background-color: #222222;
    font-family: var(--minhafont);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardvamos{
    width: 80%;
    height: 80%;
    background-color:var(--cards-claro);
    backdrop-filter: blur(10px);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.6);
}


.imgir{
    width: 38%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.arealogin{
    position: absolute;
    top: 20%;
    left: 3%;
    transform: translate(0, -20%);
}

.arealogin h1{
    font-size: 53px;
    color: white;
}

.arealogin h2{
    font-size: 40px;
    color: var(--cor-principal);
}

.entrar{
    position: absolute;
    bottom: 15%;
    left: 30%;
    transform: translate(0, -20%);
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .link_wrapper{
    position: relative;
  }
  
  .wrapper a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .wrapper .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .wrapper .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  .wrapper a:hover{
    width: 200px;
    border: 3px solid #2ecc71;
    background: #2ecc71;
    color: white;
  }
  
  .wrapper a:hover + .icon{
    border: 3px solid #2ecc71;
    right: -25%;
  }


  .Sobrehome{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/Backgronds/Principal/Sobre-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
    background-attachment: fixed;
    font-family: var(--minhafont);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.flip-card {
  background-color: transparent;
  width: 456px;
  height: 609.6px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  
}

.icon{
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  width: 250px;
  height: 250px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #000000;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    #000000 60%, 
    #666666 88%, 
    #444444 40%, 
    rgba(0, 0, 0, 0.603) 48%
  );
  color: white; 
  
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    #1e3658 30%, 
    #001f3f 88%,
    #004080 40%, 
    #385d7a 78% 
  );
  color: white;
  transform: rotateY(180deg);
}

.profile{
  border-radius: 50%;
  overflow: hidden;
  height: 300px;
  width: 300px;
  font-size: 1.5em;
  font-weight: 900;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.profilearea{
  width: 100%;
  display: flex;
  justify-content: center;
}

.flip-card-back a, .flip-card-back p {
  color: white;
}