*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

html, body, #root {
  background: linear-gradient(to bottom, #222222, #333333);
  color: #f2f2f2;
  height: 100%;
}
