*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--minhafont);
}



.Cardconfig{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.9s ease-in-out;
    opacity: 1;
    z-index: 1000;
}

.hidden{
    position: absolute;
    opacity: 0;
    top: 30%;
    left: 50%;
    transform: translate(-100%, -50%) scale(0);
    transition: opacity 0.5s ease-in-out, transform 0.9s ease-in-out;
}

.cardcontainer{
    position: relative;
    min-width: 50%;
    min-height: 25%;
    background-color: var(--bg-primary);
    padding: 20px;
    box-shadow:var(--shadow);
    top: 14px;
    color: var(--text);
    border-radius: 30px;
    transition: background-color 250ms ease-in-out;
    
}

.configtitle{
    position: relative;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1.5px;
    padding: 8px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    display: flex;
}

.configtitle h1 {
    font-size: 43px;
}

.configicon{
 position: relative;
 padding: 0;
 margin: 0;
 top: -15px;
 width: 70px;
 height: 40px;
}

.temas{
    padding-top: 15px;
}

.escolhatema{
    padding-top: 10px;
    display: flex;
    align-items: center;
}


.escolhatema span{
    font-size: 30px;
    padding-right: 30px;
}

.botaoX{
    cursor: pointer;
    background-color: transparent;
    color: var(--text);
}


.lipers{
    padding: 4px;
    padding-left: 15px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
    text-decoration: none;
}

.lipers a {
    color: var(--cor-principal);
}